parameters:
	attachmentsDir: %appDir%/../uploads/attachments/

	mailer:
		smtp: true
		host: 
		port: 465
		username: 
		password: 
		secure: ssl

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: 'mysql:host=localhost;dbname=bm_zakazkovy_system'
	user: root
	password: 

mail:
	smtp: %mailer.smtp%
	host: %mailer.host%
	port: %mailer.port%
	username: %mailer.username%
	password: %mailer.password%
	secure: %mailer.secure%

session:
	expiration: 14 days

services:
	authenticator: App\Model\User\UserAuthenticator
	router: App\Router\RouterFactory::createRouter

	- Nette\Utils\Random
	- Nette\Utils\DateTime
	- Latte\Engine
	
	- App\Model\User\UserRegistrator
	- App\Model\User\UserPasswordChanger
	- App\Model\Exceptions\PasswordVerificationException
	- App\Model\Exceptions\TokenVerificationException
	- App\Model\User\UserPasswordReseter
	- App\Model\User\ResetTokenGenerator
	- App\Model\User\PasswordResetRequestGenerator
	- App\Model\User\ResetTokenValidator
	- App\Model\User\RegisteredUserDao
	- App\Model\User\ResetTokenDao
	- App\Model\User\ConfirmationTokenDao
	- App\Model\User\ConfirmationTokenGenerator
	- App\Model\User\ConfirmationTokenValidator
	- App\Model\Order\OrderTypeDao
	- App\Model\Order\OrderDao
	- App\Model\Order\AttachmentDao
	- App\Model\Order\OrderValidator
	- App\Model\Order\AttachmentStorage(%attachmentsDir%)

	- App\Model\Mailers\BaseMailer(homeAddress: %mailer.username%)
	- App\Model\Mailers\OrderMailer(homeAddress: %mailer.username%)
	- App\Model\Mailers\PasswordResetMailer(homeAddress: %mailer.username%)
	- App\Model\Mailers\ConfirmEmailMailer(homeAddress: %mailer.username%)