<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Obnova hesla</title>
   </head>
   <body>
      <h1>Beneš & Michl - Zakázkový Systém</h1>

      <h2>Obnovení hesla</h2>

      <p>Dobrý den,</p>

      <p>Na Vaši žádost jsme Vám změnili heslo. Pokud jste o změnu hesla nežádali, prosím kontaktujte zákaznickou podporu.</p>

   </body>
</html>