<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Dokončení registrace</title>
   </head>
   <body>
      <h1>Beneš & Michl - Zakázkový Systém</h1>

      <h2>Dokončení registrace</h2>

      <p>Dobrý den,</p>

      <p>Děkujeme za registraci na našich stránkách. Pro dokončení registrace prosím potvrďte Váš email odkazem níže:</p>

      <p><a n:href="ConfirmEmail:confirm $confirmationToken">Potvrdit Email</a></p>

   </body>
</html>