<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Nová zakázka</title>
   </head>
   <body>
      <h1>Beneš & Michl - Zakázkový Systém</h1>

      <p>Dobrý den,</p>

      <p>Byla vytvořena nová zakázka.</p>

      <h2>Souhrn zakázky:</h2>

      <p>Uživatel: {$user->getIdentity()->fullName} ({$user->getIdentity()->email})</p>
      
      <p>Název: {$orderParams->name}</p>

      <p>Typ: {$orderParams->typeName}</p>

      <p>Termín: {$orderParams->date}</p>

      <h3>Popis:</h3>

      <div>
         {($orderParams->description)|breaklines}
      </div>
   </body>
</html>