<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Obnova hesla</title>
   </head>
   <body>
      <h1>Beneš & Michl - Zakázkový Systém</h1>

      <h2>Obnovení hesla</h2>

      <p>Dobrý den,</p>

      <p>na požádání jsme Vám vygenerovali odkaz pro obnovení hesla. Pokud jste o obnovení hesla nepožádali, tento e-mail můžete ignorovat.</p>

      <p><a n:href="ResetPassword:reset $resetToken">Obnovit heslo</a></p>

   </body>
</html>